:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-display: swap;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
}

/* Declarations for Inter font */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(../assets/fonts/Roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url("../assets/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url("../assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url("../assets/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url("../assets/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

/* Declarations for Inter font */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("../assets/fonts/Inter/static/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../assets/fonts/Inter/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../assets/fonts/Inter/static/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../assets/fonts/Inter/static/Inter-Bold.ttf") format("truetype");
}

/* Declarations for Icomoon font */

@font-face {
  font-family: "icomoon";
  font-display: swap;
  src:
    url("../assets/fonts/icons/icomoon.ttf") format("truetype"),
    url("../assets/fonts/icons/icomoon.woff") format("woff");
}
